body {
    font-family: 'Advent Pro', 'Raleway', sans-serif;
    font-size: 20px;
    background-color: #D9ECFD;
    margin: 0;
    color:rgb(0, 0, 0);;
   
}
*,
*:before,
*:after {
  box-sizing: border-box;
}


.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
    
/*шапка сайта*/

.header {
  width: 100%;
  height: 90px;
  background-color:rgba(255, 255, 255, 0.2);
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

    /*Заголовок*/

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
/*Навигация*/
.nav {
  display: flex;
  height: 100%;
  font-size: 20px;
}

.nav__link {
  display:flex;
  align-items: center;
  padding:0 15px;
  color: black;
  text-decoration: none;
}

.nav__link.active {
  background: #2bff00;
  color: #050801;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f403,
              0 0 50px #33f403,
              0 0 200px #2bf403;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

/*Intro*/
.intro {
 
  background: #D9ECFD  url('img/intro.bg.jpg') no-repeat center;
  background-size: cover;
}

.intro__inner {
  height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.intro__text {
  text-align: left;
  
  
}
.intro__help {
  font-size: 20px;
  text-align: center;
  color:#307c04;
  margin:40px 50px;
  
}

.intro__title {
  margin:40px 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9)
}
/* Request form*/

.call-button{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 50px 40px 120px;
  color: #03f423;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  font-weight: 600;
 
}
.call-button:hover{
  background: #2bff00;
  color: #050801;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f403,
              0 0 50px #33f403,
              0 0 200px #2bf403;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


/*Service*/

.service {
  padding: 80px 0;
}
